.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
}
.first_box{
  width: 50%;
  background: linear-gradient(183.06deg, #FFFFFF 0%, #EDF5FE 100%), #C4C4C4;
}
.logo{
  font-weight: 700;
  font-size: 144px;
  background: linear-gradient(83.04deg, #0452C8 0%, #4094F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 300px;
}
.second_box{
  background: linear-gradient(68.66deg, #D1E2F7 0%, #EEF6FE 100%);
  width: 50%;
}
.login_box{
  background-color: #fff;
  width: 576px;
  margin: 250px auto 0;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(110, 139, 183, 0.25);
  padding: 12px;
}
.login_header{
  text-align: start;
  font-size: 24px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
}
.input_field{
  text-align: start;
  width: 90%;
  margin: 0 auto;
}
.input_text{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.textField{
  width: 100%;
  padding: 0px;
}
.enter_button{
  width: 90%;
  background: #4094F7 !important;
  color: white !important;
  margin: 30px 0px 10px !important;
}
.service_box{
  width: 576px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 12px;
  padding: 12px;
  position: absolute;
  bottom: 5%;
  right: 5.1%;
}
.contact_info{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
}
.phone{
  background: rgba(14, 115, 246, 0.1);
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
}
.contact{
  display: flex;
  align-items: center;
}